# =============================================================
# BDA · Clínica Vet · Variables de Entorno (EJEMPLO)
# Copia este archivo a .env y completa con tus credenciales
# =============================================================

# PostgreSQL - Root
POSTGRES_DB=clinica_vet
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_password_aqui

# Credenciales de Usuarios por Rol
DB_USER_VET1=vet_lopez
DB_PASS_VET1=password_vet1
DB_USER_VET2=vet_garcia
DB_PASS_VET2=password_vet2
DB_USER_VET3=vet_mendez
DB_PASS_VET3=password_vet3
DB_USER_REC=usuario_recepcion
DB_PASS_REC=password_recepcion
DB_USER_ADM=usuario_admin
DB_PASS_ADM=password_admin

# Redis
REDIS_URL=redis://redis:6379

# API
API_PORT=3001
