# =============================================================
# CORTE 3 · BDA · Clínica Vet API
# Copia este archivo a .env y ajusta los valores
# =============================================================

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=clinica_vet

# Usuarios por rol (definidos en 04_roles_y_permisos.sql)
DB_USER_VET=vet_lopez
DB_PASS_VET=vet_lopez_pass

DB_USER_VET1=vet_lopez
DB_PASS_VET1=vet_lopez_pass

DB_USER_VET2=vet_garcia
DB_PASS_VET2=vet_garcia_pass

DB_USER_VET3=vet_mendez
DB_PASS_VET3=vet_mendez_pass

DB_USER_REC=usuario_recepcion
DB_PASS_REC=recepcion_pass

DB_USER_ADM=usuario_admin
DB_PASS_ADM=admin_pass

# Redis
REDIS_URL=redis://localhost:6379

# Servidor
PORT=3001
